<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('./layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/php-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Les Meilleurs</h1>
                            <span class="subheading">méthodes d'apprentissage du Developement Web</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <% if( (posts !== null) && (posts.length > 0) ) { %>
                        <% for(var i = posts.length - 1; i >= 0; i--) { %>
                            <!-- Post preview-->
                            <div class="post-preview">
                                <a href="post.html">
                                    <h2 class="post-title"><%= posts[i].title %></h2>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#!">2MD</a>
                                    on September 24, 2022
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                        <% } %>
                    <% } %>
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#">Tous les articles →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('./layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('./layout/script.ejs') %>
    </body>
</html>
