<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('../layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('../layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('<%= user.profileImage %>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Profile</h1>
                            <span class="subheading"><%= user.username %></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Prénom et Nom -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Prénom et Nom</h2>
                        </a>
                        <p class="post-meta">
                            <%= user.name %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Email -->
                    <div class="post-preview">
                        <a href="#"><h2 class="post-title">Email</h2></a>
                        <p class="post-meta">
                            <%= user.email %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Téléphone -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Téléphone</h2>
                        </a>
                        <p class="post-meta">
                            <%= user.phone %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Description -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Description</h2>
                        </a>
                        <p class="post-meta"><%- user.message %></p>
                    </div> 
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Posts -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Publications</h2>
                        </a>
                        <div class="post-meta">
                            <ul id="items">
                                <% if( (posts !== null) && (posts.length > 0) ) { %>
                                    <% for(var i = posts.length - 1; i >= 0; i--) { %>
                                        <li><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a></li>
                                    <% } %>
                                <% } %>
                            </ul>
                            <div id="pagination">
                                <div id="prevButton"></div>
                                <div id="pageButtons"></div>
                                <div id="nextButton"></div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('../layout/script.ejs') %>
        <!-- Pagination JS-->
        <%- include('../layout/paginationScript.ejs') %>
    </body>
</html>
